/*https://bl.ocks.org/mbostock/5925375*/
.state-borders {
    fill: none;
    stroke: #b7b7b7;
    stroke-linejoin: round;
    stroke-linecap: round;
}

#chartTypeSelector > input[type=radio] {
    margin-right: 10px;
}

#chart > svg {
    overflow: visible;
}

.action-bar {
    display: flex;
    justify-content: center;
}

#date {
    cursor: pointer;
}

.date {
    font-size: 30px;
    font-weight: bold;
    fill: rgba(0, 0, 0, 0.5);
}

.loader {
    font-size: 20px;
    background: #e5e5e5;
    min-height: 300px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.loader > div {
    margin-top: auto;
    margin-bottom: auto;
}